* {
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap");

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  background: #2f083a;
}

.theme-btn {
  border-radius: 60px;
  height: 39px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none;
  text-transform: inherit;
  color: #fff;
  background: #c35c6c;
  width: 200px;
  padding: 0;
}
.theme-btn:hover {
  background: #fff;
  color: #c35c6c;
}
.bold {
  font-weight: bold;
}
.text-right {
  text-align: right;
}
.input-group input {
  height: 64px !important;
  max-width: 572px;
  border-radius: 2px;
  background: #ffffff;
  font-size: 16px;
}
.input-group button {
  height: 46px;
  width: 115px;
  background: #7b878e;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  margin-left: -125px !important;
  margin-top: 8px;
  z-index: 9 !important;
  position: relative !important;
}
.top-nav-btn {
  min-width: 141px;
}
.navbar {
  box-shadow: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;
  background: #30083b;
}
.nav-box-shadow {
  box-shadow: 0px 0px 20px #00000067;
}

h1 {
  font-size: 56px;
}
h2 {
  font-size: 24px;
}
.nav-item a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}
.nav-item a.active {
  color: #c35c6c;
  padding-bottom: 5px;
  /* border-bottom: 1px solid #c35c6c; */
  border: none !important;
  font-weight: bold;
}
.nav-item a.active.border {
  border-bottom: 1px solid #c35c6c !important;
}
.dropdown .dropdown-toggle.hovered {
  color: #c35c6c;
  padding-bottom: 5px;
  font-weight: bold;
}
.nav-link:focus,
.nav-link:hover {
  color: #c35c6c;
  font-weight: bold;
}
.dropdown-menu .dropdown-item {
  color: #fff;
  background-color: #c35c6c;
  margin-top: 0;
}
.dropdown-menu .dropdown-item:hover,
.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:active {
  background-color: #c35c6cdc;
  margin-top: 0;
}

.secondary .header {
  height: 100vh;
  background-image: url(..//img/secondary-cover.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.footer-bottom a:hover svg circle {
  fill: white;
  transition: 0.5s;
}
.footer-bottom a:hover svg path {
  fill: #c35c6c;
  transition: 0.5s;
}

/*  ======================================================== Homepage start =================================================  */
.main .header {
  height: 100vh;
  background-image: url(..//img/homepage-cover.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}
.navbar-brand img {
  height: 48px;
}
.banner-content h1 {
  font-size: 78px;
}
/*  ======================================================== Homepage End =================================================  */

/*  ======================================================== Gage Selection start =================================================  */
.gage-block {
  background: #30083b;
  border: 1px solid #bbabe3;
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  border-radius: 16px;
  opacity: 1;
  min-height: 293px;
  transition: opacity 0.3s;
}
a:hover .gage-block {
  opacity: 0.75;
}
.select-gage a {
  color: white;
}
.gage-block h1 {
  font-size: 68px;
}
.inactive {
  opacity: 0.5;
}
.select-gage-container {
  max-width: 909px;
}

.select-bg {
  margin-top: 10%;
  width: 82.5vw;
}

.select-deposit-pg .header {
  height: auto;
}

.input-container input {
  width: 60%;
  background: #30083b;
  border: 0px;
  color: white;
  outline: none;
  text-overflow: ellipsis;
  font-size: 16px;
  white-space: nowrap;
}

@media (min-width: 360px) {
  .input-container input {
    font-size: clamp(1rem, 2.5vmin, 2.5rem);
  }
}

.select-deposit input:focus {
  outline: none;
}

.token-option {
  list-style: none;
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  height: 50%;
}

.token-option:hover {
  background: #e2a5f321;
  color: #bbabe3;
  transition: color 0.25s;
}

.token-option img {
  width: 20%;
  left: 12.5%;
  min-width: 10px;
}

@media (min-width: 2160px) {
  .token-option img {
    max-width: 25px;
  }
}

.token-option header {
  font-size: clamp(0.65rem, 1.65vmin, 0.75rem);
  font-weight: 535;
  position: relative;
  left: 40%;
}

.hide {
  visibility: hidden;
}

.rotate {
  transform: rotate(180deg);
}

.hover {
  color: #bbabe3;
}

.gage-stats {
  z-index: 5;
}

.gage-stats p,
.stake-stats p {
  font-weight: 800;
  color: #fff !important;
}

.stake-stats h2,
.gage-stats h2 {
  color: #ffffff96 !important;
  font-weight: 500;
}

@media (max-width: 2160px) {
  .gage-stats p {
    font-size: clamp(0.85rem, 2.25vmin, 1.75rem);
  }
}
@media (min-width: 2160px) {
  .gage-stats p {
    font-size: clamp(1.75rem, 2.25vmin, 2.65rem);
  }
}
@media (max-width: 2160px) {
  .stake-stats p {
    font-size: clamp(0.85rem, 2vmin, 1.5rem);
  }
}
@media (min-width: 2160px) {
  .stake-stats p {
    font-size: clamp(1.5rem, 2vmin, 2.5rem);
  }
}
@media (max-width: 2160px) {
  .stake-stats h2 {
    font-size: clamp(1.25rem, 2.5vmin, 2.25rem);
  }
}
@media (min-width: 2160px) {
  .stake-stats h2 {
    font-size: clamp(2rem, 2.5vmin, 2.75rem);
  }
}
@media (max-width: 2160px) {
  .gage-stats h2 {
    font-size: clamp(1.5rem, 2.5vmin, 2..25rem);
  }
}
@media (min-width: 2160px) {
  .gage-stats h2 {
    font-size: clamp(2.5rem, 2vmin, 3.25rem);
  }
}

/*  ======================================================== Gage Selection end =================================================  */

/*  ======================================================== User info start =================================================  */
.user-info-pg .header {
  height: auto;
}

.user-info-container {
  margin-top: 125px;
}
.gage-tabs li {
  background: none;
}
.gage-tabs li.active {
  background: none;
  border-bottom: 2px solid #c35c6c;
}

.gage-tabs li a {
  color: white !important;
  text-transform: inherit !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}
.gage-tabs li a.active,
.gage-tabs li a:hover {
  color: #c35c6c !important;
  background: none !important;
}
.gage-tabs li a.active {
  font-weight: bold !important;
}
.gage-tabs .table {
  border-spacing: 0 10px;
  border-collapse: separate;
}
.gage-tabs .table tbody tr td {
  background: #370c43;
}
.gage-tabs .table tbody tr:hover td {
  background: #9c5cac;
  transition: 0.5s;
}
.gage-tabs .table tbody tr td:first-child {
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
}
.gage-tabs .table tbody tr td:last-child {
  border-top-right-radius: 60px;
  border-bottom-right-radius: 60px;
}
.gage-tabs .table thead {
  font-size: 14px;
  color: #c35c6c;
}
.gage-tabs .table td,
.gage-tabs .table th {
  border: none;
}
.gage-tabs .table td {
  color: white;
  font-size: 14px;
  font-weight: 500;
}
.gage-tabs .table td .coin-name {
  font-size: 12px;
  background: #583961;
  border-radius: 6px;
  padding: 5px 10px;
}
.gage-tabs .table td .gage-name {
  font-size: 12px;
  background: #583961;
  padding: 5px 10px;
  border-radius: 20px;
}
.gage-tabs .table tbody tr:hover td .coin-name,
.gage-tabs .table tbody tr:hover td .gage-name {
  background: #280531;
  transition: 0.5s;
}

.gage-tabs .table td .risk-val {
  font-size: 12px;
  border-radius: 20px;
  padding: 5px 10px;
}
.gage-tabs .table td .risk-val.safe {
  background: #7ccbcb;
}
.gage-tabs .table td .risk-val.superior {
  background: #c35c6c;
}
.grid-btn {
  border-radius: 60px;
  height: 39px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none;
  text-transform: inherit;
  color: #fff;
  background: #30083b;
  width: 134px;
  padding: 0;
}
.grid-btn:hover {
  background: #9c5cac;
  color: #fff;
}
.next-btn {
  border-radius: 60px;
  height: 39px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: none;
  text-transform: inherit;
  color: #fff;
  background: #c35c6c;
  width: 74px;
  padding: 0;
}
.next-btn:hover {
  background: #30083b;
  color: #fff;
}
/*  ======================================================== User info end =================================================  */

/*  ======================================================== Download start =================================================  */
.download-container {
}
/*  ======================================================== Download end =================================================  */

.animation-element.bounce-up .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.bounce-right .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(200px, 0px, 0px);
  -webkit-transform: translate3d(200px, 0px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(200px, 0, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.bounce-right.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.bounce-left .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(-200px, 0px, 0px);
  -webkit-transform: translate3d(-200px, 0px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(-200px, 0px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.bounce-left.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.animation-element.bounce-down .subject {
  opacity: 0;
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;
  -moz-transform: translate3d(0px, -200px, 0px);
  -webkit-transform: translate3d(0px, -200px, 0px);
  -o-transform: translate(0px, -200px);
  -ms-transform: translate(0px, -200px);
  transform: translate3d(0px, -200px, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}

.animation-element.in-view .subject {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

.fade-in-animate {
  display: inline-block;
  animation: fadeIn linear 1s;
  -webkit-animation: fadeIn linear 1s;
  -moz-animation: fadeIn linear 1s;
  -o-animation: fadeIn linear 1s;
  -ms-animation: fadeIn linear 1s;
}

.fade-in-toast {
  animation: fadeIn linear 5s;
  -webkit-animation: fadeIn linear 5s;
  -moz-animation: fadeIn linear 5s;
  -o-animation: fadeIn linear 5s;
  -ms-animation: fadeIn linear 5s;
}

.fade-out-toast {
  animation: fadeOut linear 5s;
  -webkit-animation: fadeOut linear 5s;
  -moz-animation: fadeOut linear 5s;
  -o-animation: fadeOut linear 5s;
  -ms-animation: fadeOut linear 5s;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.MuiButtonBase-root .fas.fa-bars {
  color: white;
}
@media (max-width: 1160px) {
  .navbar-collapse .mx-4 {
    margin-right: 14px !important;
    margin-left: 14px !important;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 35px;
  }
  .secondary .header {
    height: auto;
    padding-bottom: 5rem;
    padding-top: 5rem;
  }
  .select-bg {
    margin-top: 2%;
    height: 100%;
    width: 100%;
  }
  .footer-main {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
  }
  .banner-content h1 {
    font-size: 42px;
  }
  .theme-btn {
    min-width: 305px;
  }
  .fas.fa-bars {
    color: white;
  }
  footer p br {
    display: none;
  }
  .footer-bottom {
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .grid {
    width: 100%;
    overflow: auto;
  }
  .grid table td,
  .grid table th {
    white-space: nowrap;
  }
  .grid-btn {
    width: 100px;
  }
  .footer-decription {
    display: flex;
    flex-direction: column;
  }
}
.navbar-drawer {
  display: none;
}
@media (max-width: 992px) {
  .navbar-drawer {
    display: block;
  }
}
@media (min-width: 1920px) {
  .container {
    max-width: 1600px;
  }
}
@media (min-width: 2500px) {
  .container {
    max-width: 2160px;
  }
}
@media (min-width: 3000px) {
  .container {
    max-width: 2560px;
  }
}
@media (min-width: 3500px) {
  .container {
    max-width: 3060px;
  }
}
@media (min-width: 4000px) {
  .container {
    max-width: 3060px;
  }
}
.align-center {
  align-items: center;
}

.option-padding {
  padding: 10px 0px;
}
.igo-option-padding {
  padding: 8px 0;
}
